name: unit-test
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: "unit test"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Show Xcode version
        run: xcodebuild -version
      - name: Build Android app
        run: ./gradlew assembleDebug
      - name: Pack for Xcode
        run: ./gradlew packForXcode --info 
